<section id="footer">
  <div class="footer-div">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#top">HOME</a>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#taste">FOOD&DRINKS</a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#flight">TRAVEL</a>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#brend">BEAUTY</a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#focus">PHOTOGRAPHY</a>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#air">BODY&HEALTH</a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#style">FASHION</a>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6">
        <a class="footer-link" class="" href="/#point">DECOR</a>
      </div>
    </div>
  </div>
  <hr class="footer-hr">
  <div class="row footer-row2">
    <div class="col">
      <p class="footer-p">The <span class="span">Animag </span>Life Style Magazine.</p>
    </div>
    <div class="col">
      <p class="footer-p2">All Rights Reserved © 2020</p>
    </div>
  </div>

</section>

</body>

</html>